html, body {
    font: normal 95% Helvetica, Verdana, Arial, sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
}

body {
    padding: 0.5em 0.7em;
    margin: 0 4em 0 1em;
    max-width: 55em;
    background: #fff;
}

h1, h2, h3 {
    margin-bottom: 0;
    background: transparent;
}

h1 {
    padding: 0.2em;
}

a {
    color: #009;
    background: transparent;
}

a:visited {
    color:#360;
    background:transparent;
}

a:hover, a:focus, a:active {
    color:#000;
    background-color: #fc0;
}

img {
    border: none;
}

code {
    font: bold "Courier new", Courier, Monospace;
}

mark {
	color: #fff;
	background-color: #820bbb;
}

.example {
    margin-top: 1em;
    margin-bottom: 2em;
}
