button {
    display: block;
	  height: 35px;
	  width: 100px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 15px;
    margin: 20px auto;
    color: #ccc;
    background-color: #555;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
}

button:hover, button:focus {
    background-color: #820bbb;
}

[aria-pressed="true"] {
    color: #fff;
    padding: 11px 12px 9px 16px;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
}
