.tab {
// placeholder
}

.selected {
// placeholder
}

ul#tabs li {
display: inline;
}
/*
ul#tabs li:hover {
background-color: red;
}
*/

ul#tabs li a.selected {
background-color: #ddd;
}

ul#tabs li a {
text-decoration: none;
color: #000;
border-top: solid black thin;
border-left: solid black thin;
border-right: solid black thin;
padding: 1em 1em 0 1em;
font-weight: 700;
}

ul#tabs li a:hover, ul#tabs li a:focus {
background-color: blue;
color: #fff;
outline: 0;
}

ul#tabs {
margin: 0;
padding: 0;
}

.tabcontent {
display: block;
border: solid black thin;
padding: 1em;
}

.hidden {
display: none;
}

