.icon-expand {
	position: relative;
	left: -7px;
	font-size: 1.7em;
}

label {
	vertical-align: top;
}
input#ac {
	vertical-align: top;
}

ul[role=listbox] {
	color: #000;
	background: #fff;
	display: none;
	position: absolute;
	list-style: none;
	margin-left: 0;
	padding: 0;
	outline: 1px solid #999;
	padding: 0.5em;
	max-height: 12em;
	overflow: auto;
}

ul[role=listbox] li {
	margin: 0 -0.5em 0 -0.5em;
	padding: 0.5em;
}

ul[role=listbox] li:hover, ul[role=listbox] li.focused:hover {
	color: #333;
	background: #ccc;
	outline: 1px solid #333;
}

ul[role=listbox] li.focused {
	color: #000;
	background: #fc0;
	outline: 1px solid #000;
}
