/* button */

[role="button"] {
    display: block;
	  height: 15px;
	  width: 80px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 15px;
    color: #ccc;
    background-color: #555;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
}

[role="button"]:hover, [role="button"]:focus {
    background-color: #820bbb;
    color: #fff;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	  cursor: pointer;
}

[role="button"][aria-expanded="false"] #icon:after {
    font-size: 0.75em;
	  padding-left: 0.5em;
	  content: "\25BC";
}

[role="button"][aria-expanded="true"] #icon:after {
    font-size: 0.75em;
	  padding-left: 0.5em;content: "\25B2";
}

/* content panel */

div[id="content"] {
    border: 1px #000 solid;
    padding: 1em;
    background: #555;
    color: #FFF;
}
